<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>templates</title>
  <style>
    .father {
      width: 256px;
      height: 256px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: #096;
      text-align: center;
    }

  </style>
</head>

<body>
  <div class="father">
    {{/*block*/}}
    {{block "content" . }}{{end}}
  </div>
</body>

</html>
